<h1>Issue number  <small>{{issueNumber()}}</small></h1>

<a routerLink="/" >Regresar</a>

@if(issueQuery.data()===undefined){
    <p>Loading...</p>
}@else{
    
    <issue-comment [issue]="issueQuery.data()!"></issue-comment>
}


<!-- Comments-->
 @if(issueCommentQuery.data()===undefined){        
     <p>Loading...</p>    
 }
 @else{    
    <div class="py-8">
    <h1 class="text-xl py-2">Comments</h1>
    <hr />
    </div>
    @for(issue of issueCommentQuery.data()!;track issue.id){        
        <issue-comment [issue]="issue"></issue-comment>
    }@empty{        
        <p>No comments found</p>    
    }
    

 }
 <!--  -->
